:root {
  --cul-p: #d55140;
  --cul-p-01: rgba(230, 67, 53,0.1);
  --cul-p-02: rgba(230, 67, 53,0.2);
  --bgcolor: #343a40;
  /*--bgcolor: rgb(30,40,50);*/
  --bgcolor-05: rgba(30,40,50,0.5);
  --cul-wa: rgb(0,200,30);
  /*--cul-p: #007AB3;*/
  /*--cul-p: #4285F4;*/
  --cul-p-07: rgba(230,67,53,0.7);
}

body {
  background-color: var(--bgcolor);
}

h2 {
  font-family: 'SFRounded', helvetica, sans-serif;
}

.bg-dark {
  background-color: var(--bgcolor) !important;
}

.btn-circle {
  border-radius: 40px;
  color: var(--cul-p);
  background: rgba(255,255,255,0.2);
  border: 3px solid white;
  transition: 0.5s linear;
  animation-name: btn-anim;
  animation-duration: 2s;
}

.fa.fa-angle-double-down.animat {
  animation-name: link-anim;
  animation-duration: 3s;
}

.btn-circle:hover {
  color: white;
  border-color: white;
  background: rgba(230,67,53,0.7);
}

/* bara de navigatie */

#mainNav {
  text-align: right;
  margin-right: 0px;
  margin-left: auto;
  border-bottom: solid 2px rgba(255,255,255,0.02);
}

#mainNav .navbar-brand {
  color: var(--bs-white);
  font-family: 'sfrounded', sans-serif, Helvetica, sans-serif;
  transition: 0.5s linear;
  text-decoration: initial;
}

/* la transition pot pune doar color */

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: var(--cul-p);
}

.fa.fa-bars {
  color: var(--bs-white);
  background-color: transparent;
  font-size: 13px;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 10px;
  text-transform: uppercase;
  color: #fff;
  font-family: ”SFRounded”, sans-serif,Helvetica;
  border-radius: 10px;
  border: 2px solid var(--bs-white) ;
  background: rgba(0,0,0,0);
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 500;
  padding: .75em 10px;
  letter-spacing: 1px;
  color: #fff;
  font-family: "Montserrat",Helvetica,sans-serif;
  transition: 0.3s linear;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: var(--cul-p);
  background-color: rgba(0,0,0,0.1);
  border-radius: 20px;
}

header .btn-circle {
  width: 80px;
  height: 80px;
  font-size: 45px;
}

#btnfix {
  padding-right: 11px;
  color: var(--cul-p);
  border-color: white;
  background: rgba(0,0,0,0.3);
  height: 70px;
  width: 70px;
  font-size: 35px;
}

#btnfix:hover {
  color: white;
  border-color: white;
  background: rgba(230,67,53,0.7);
}

header.masthead {
  text-align: center;
  color: white;
  background-color: black;
  background-image: url("../../assets/img/header.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.bv {
  color: var(--cul-p);
}

header span {
  font-family: 'SFRounded', sans-serif;
  /*color: var(--cul-p);*/
  text-shadow: 0 0 1em rgba(255,255,255,0.7);
}

header h3 {
  color: rgba(255,255,255, 0.6);
}

@media (min-width: 992px) {
  header.masthead {
    height: 900px;
  }
}

/* servicii */

#services {
  /*background: linear-gradient(55deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 85%);*/
  background: linear-gradient(55deg, #fff 0%, #eee 51%, #ddd 85%);
  padding-top: 100px;
  padding-bottom: 20px;
}

#services .cul-ico {
  color: var(--cul-p);
}

#services .serv-item:hover .text-muted {
  color: rgb(80,80,80) !important;
}

/* despre */

#about {
  /*background: url("cl-20.svg") top / auto no-repeat;*/
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(55deg, #fff 0%, #eee 51%, #ddd 85%);
}

#about .list-group-item:hover p {
  color: rgb(80,80,80) !IMPORTANT;
  /*background: red;*/
}

.timeline > li .timeline-image {
  background: url("../../assets/img/cl-nav.svg") center / auto no-repeat, var(--bgcolor);
}

/* contact */

#contact {
  background-image: url('../../assets/img/map-image.png');
  padding-top: 100px;
  padding-bottom: 50px;
}

#contact .contact-date {
  padding-top: 30px;
  align-items: center;
}

#contact .contact-date-chenar {
  width: 250px;
  background-color: rgba(0,0,0,0.5);
  padding: 2%;
  margin: 0 auto;
}

@media (min-width: 500px) and (max-width: 800px) {
  #contact .contact-date-chenar {
    width: 230px;
  }
}

#contact a {
  color: white;
  text-decoration: none;
  border-style: none;
  border-color: var(--cul-p);
  font-family: sans-serif;
  font-weight: initial;
  font-size: 17px;
  padding-left: 2vw;
  margin-bottom: 10px;
  transition: 0.3s linear;
}

#contact a:hover {
  color: var(--cul-p);
}

#contact p {
  color: #ffffff;
  margin-bottom: 0;
}

/* footer */

footer {
  background: linear-gradient(55deg, #fff 0%, #eee 51%, #ddd 85%);
}

footer a {
  color: black;
  font-weight: 600;
  letter-spacing: .15rem;
  transition: 0.3s linear;
  padding: 3px;
}

footer a:hover {
  color: var(--cul-p);
  background-color: rgba(0,0,0,0.1);
}

/* partea fixa */

@media (min-width: 750px) {
  .container.fixed-bottom.foot-fix {
    margin-left: 85%;
  }
}

@media (max-width: 750px) {
  .container.fixed-bottom.foot-fix {
    margin-left: 70%;
  }
}

@media (min-width: 550px) and (max-width:750px) {
  .container.fixed-bottom.foot-fix {
    margin-left: 80%;
  }
}

.container.fixed-bottom.foot-fix {
  padding-bottom: 20px;
  margin-right: auto;
  width: 100px;
}

footer .fa.fa-whatsapp {
  font-size: 30px;
  color: white;
}

footer .btn-circle {
  background-color: rgba(0,0,0,0.7);
  height: 60px;
  width: 60px;
}

/* modal */

.modal-dialog {
  background: linear-gradient(55deg, #fff 0%, #eee 51%, #ddd 85%);
}

#buton {
  color: var(--cul-p);
  border-radius: 20px;
  background: transparent;
  border: 3px solid var(--cul-p) ;
  height: 40px;
  width: auto;
  padding-top: 4px;
  padding-bottom: 5px;
  transition: 0.3s linear;
}

#GDPR {
  opacity: 1;
  background-color: rgba(0,0,0,0.3);
}

.btn-primary {
  color: var(--cul-p);
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: var(--cul-p) !important;
  border-color: var(--cul-p) !important;
  color: white !important;
}

#X:hover {
  background-color: rgba(0,0,0,0.3);
}

/* daca nu pun overflow, textul iese din height */

.sidenav {
  /*color: var(--cul-p);*/
  border-radius: 20px;
  background: transparent;
  transition: 0.3s linear;
  width: 70px;
  height: 70px;
  position: fixed;
  z-index: 1;
  bottom: 1.5vh;
  right: 2vw;
  overflow-x: hidden;
}

@media (min-width: 2000px) {
  .sidenav {
    right: 20vw;
  }
}

/* animatii */

@keyframes link-anim {
  0% {
    color: var(--cul-p);
    /*background: rgba(255,255,255,0.2);*/
  }
  50% {
    color: white;
    /*background: rgba(230,67,53,0.7);*/
  }
  100% {
    color: var(--cul-p);
    /*background: rgba(255,255,255,0.2);*/
  }
}

@keyframes btn-anim {
  0% {
    background: rgba(230,67,53,0.7);
  }
  100% {
    background: rgba(255,255,255,0.2);
  }
}

